MONGO_URI=your_mongo_connection_string
JWT_SECRET=your_jwt_secret
EMAIL_PASS=your_email_password


# DETTE SKRIVER DU INN I DIN .ENV FIL:
MONGO_URI=mongodb+srv://bruker:pass@cluster.mongodb.net/dbnavn
JWT_SECRET=supersikkerhemmelighet
EMAIL_PASS=minEpostPass123

# Kjør:
# cd backend
# npm init -y

# Og så denne (denne installerer følgende: npm install express mongoose dotenv cors bcrypt jsonwebtoken nodemailer)
# npm install