# LEGG INN DETTE I .ENV-FILEN DIN
JWT_SECRET=supersikkerhemmelighet
EMAIL_PASS=minEpostPass123

PORT=5050
MONGO_URI=mongodb+srv://ehlma:F3WCAMxiKpIWPKUg@abcdeal.pkaivkv.mongodb.net/abcdeal?retryWrites=true&w=majority&appName=abcdeal

# Kjør:
# cd backend
# npm init -y

# Og så denne (denne installerer følgende: npm install express mongoose dotenv cors bcrypt jsonwebtoken nodemailer)
# npm install

#installer for mail og jsontoken 
# npm install nodemailer
# npm install jsonwebtoken

# LEGG DETTE I .ENV-FILEN DIN
MONGO_URI=dittMongoDbUri

CLOUDINARY_CLOUD_NAME=dittCloudinaryNavn
CLOUDINARY_API_KEY=dittApiKey
CLOUDINARY_API_SECRET=dittApiSecret
